<header>
  <nav class="navbar navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <b>{{title}}</b>
        </a>   
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" routerLink="/deposit" >
            Deposit
          </a>
          <a class="navbar-item" routerLink="/withdraw" >
            Withdraw
          </a>
          <a class="navbar-item" routerLink="/history" >
            History
          </a>
        </div>
    
      </div>
    </nav>
</header>
<main>
  <h1>
    Welcome to the {{title}} app!
  </h1>
  <router-outlet></router-outlet>
</main>